<ion-header>
  <ion-toolbar>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p *ngIf="favourites.length === 0">No favourites yet.</p>

  <ion-list *ngIf="favourites.length > 0">
    <ion-item *ngFor="let f of favourites">
      <ion-thumbnail slot="start">
        <img [src]="f.image" [alt]="f.title" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ f.title }}</h2>

        <ion-button
          size="small"
          fill="outline"
          [routerLink]="['/recipe', f.id]">
          Details
        </ion-button>

        <ion-button
          size="small"
          color="danger"
          (click)="remove(f.id)">
          Remove
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
