<ion-header>
  <ion-toolbar>
    <ion-title>G00439461</ion-title>

    <ion-buttons slot="end">
      <ion-button aria-label="Favourites" routerLink="/favourites">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>

      <ion-button aria-label="Settings" routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Search input -->
   <div class="welcome">
    <h2>Welcome!</h2>
    <p>
      This is a Recipe Finder app. Type one or more ingredients in the search box and we will find recipes for you.
    </p>
    <p>
      Tip: you can add multiple ingredients separated by commas (e.g. <strong>chicken, rice, tomato</strong>).
    </p>
  </div>

  <ion-item>
    <ion-input
      label="Ingredients"
      labelPlacement="stacked"
      placeholder="e.g. chicken, rice, tomato"
      [(ngModel)]="ingredientQuery">
    </ion-input>
  </ion-item>

  <!-- Search button -->
  <ion-button
    expand="block"
    class="ion-margin-top"
    (click)="onSearch()">
    Search
  </ion-button>

  <!-- Error message -->
  <p *ngIf="errorMessage">{{ errorMessage }}</p>

  <!-- Loading spinner -->
  <ion-spinner *ngIf="isLoading"></ion-spinner>

  <!-- Results list -->
  <ion-list *ngIf="!isLoading && recipes.length > 0">
    <ion-item *ngFor="let r of recipes">
      <ion-thumbnail slot="start">
        <img [src]="r.image" [alt]="r.title" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ r.title }}</h2>

        <ion-button
          size="small"
          fill="outline"
          [routerLink]="['/recipe', r.id]">
          Details
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
